.btn {
    font-size: 30px;
}

.news {
    background-color: aqua;
    font-size: 50px;
    font-family: inherit;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0 0 10px;
}